/* .banner{
    background-image: url("../../../images/img2.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;

} */

.bg-image{
    background-image: url(https://images.unsplash.com/photo-1614723141070-2eec18977122?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width:1200px) {
    .title-style{
        padding-top: 25%;
    }
}
@media only screen and (min-width:900px) and (max-width:1199px) {
    .title-style{
        padding-top: 35%;
    }
}
@media only screen and (min-width:700px) and (max-width:899px) {
    .title-style{
        padding-top: 48%;
    }
}
@media only screen and (min-width:500px) and (max-width:699px) {
    .title-style{
        padding-top: 60%;
    }
}
@media only screen and (min-width:300px) and (max-width:499px) {
    .title-style{
        padding-top: 70%;
    }
}